<div class="d-flex align-items-center flex-column">
    <h1>Lista de Linguagens</h1>
    <div *ngIf="loading; else languageList" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <ng-template #languageList>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-4" *ngFor="let language of languages">
                    <app-language-item [language]="language"></app-language-item>
                </div>
            </div>
        </div>
    </ng-template>
</div>